<main class="login">
  <section fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="96%" fxFlex.sm="76%" fxFlex.md="56%" fxFlex.lg="36%" fxFlex.xl="16%">
    <app-email-form-field
      [ipLabel]="'Your e-mail address'"
      [ipRequired]="true"
      [ipReadonly]="loginInProgress">
    </app-email-form-field>

    <app-password-form-field
      [ipLabel]="'Your password'"
      [ipRequired]="true"
      [ipReadonly]="loginInProgress">
    </app-password-form-field>

    <section>
      <app-button
        [ipLabel]="'Log In'"
        [ipColor]="'primary'"
        [ipDisabled]="submitButtonDisabled || loginInProgress"
        (opClick)="login()">
      </app-button>
    </section>
  </section>
</main>
