<app-main [ipAlignHorizontal]="'center'">
  <app-section [ipLayout]="'column'" [ipAlignHorizontal]="'center'" [ipXs]="10" [ipSm]="9" [ipMd]="8" [ipLg]="7" [ipXl]="6">
    <app-email-form-field
      [ipLabel]="emailFormField_label"
      [ipRequired]="true"
      [ipReadonly]="loginInProgress">
    </app-email-form-field>

    <app-password-form-field
      [ipLabel]="passwordFormField_label"
      [ipRequired]="true"
      [ipReadonly]="loginInProgress">
    </app-password-form-field>
  </app-section>

  <app-section [ipLayout]="'column'" [ipAlignVertical]="'center'" [ipXs]="10" [ipSm]="9" [ipMd]="8" [ipLg]="7" [ipXl]="6">
    <app-button
      [ipLabel]="button_label"
      [ipColor]="'primary'"
      [ipDisabled]="submitButtonDisabled || loginInProgress"
      (opClick)="login()">
    </app-button>
  </app-section>
</app-main>
