<main class="login">
  <section fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="96%" fxFlex.sm="76%" fxFlex.md="56%" fxFlex.lg="36%" fxFlex.xl="16%">
    <app-email-form-field
      [ipLabel]="'Your e-mail address'"
      [ipRequired]="true">
    </app-email-form-field>

    <app-password-form-field
      [ipLabel]="'Your password'"
      [ipRequired]="true">
    </app-password-form-field>

    <section>
      <app-submit-button
        [ipLabel]="'Log In'"
        [ipDisabled]="false"
        (opClick)="login()">
      </app-submit-button>
    </section>
  </section>
</main>
