<app-main [ipAlignHorizontal]="'center'">
  <app-section id="a" [ipLayout]="'column'" [ipAlignHorizontal]="'center'" [ipXs]="10" [ipSm]="9" [ipMd]="8" [ipLg]="7" [ipXl]="6">
    <app-cep-form-field
      [ipLabel]="'Zip code'"
      [ipRequired]="true"
      [ipReadonly]="saveInProgress">
    </app-cep-form-field>

    <app-text-form-field
      [ipLabel]="'Name'"
      [ipRequired]="true"
      [ipReadonly]="saveInProgress">
    </app-text-form-field>
  </app-section>

  <app-section id="a" [ipLayout]="'column'" [ipAlignHorizontal]="'center'" [ipXs]="10" [ipSm]="9" [ipMd]="8" [ipLg]="7" [ipXl]="6">
    <app-button
      [ipLabel]="'Save'"
      [ipColor]="'primary'"
      [ipDisabled]="submitButtonDisabled || saveInProgress"
      (opClick)="clickSave()">
    </app-button>

    <app-button
      [ipLabel]="'Cancel'"
      [ipColor]="'warn'"
      [ipDisabled]="saveInProgress"
      (opClick)="clickCancel()">
    </app-button>

    <app-button
      [ipLabel]="'Log Out'"
      [ipColor]="'accent'"
      [ipDisabled]="saveInProgress"
      (opClick)="clickLogOut()">
    </app-button>
  </app-section>
</app-main>
