.city-form {
  box-sizing: border-box;
  margin: 0px;
  border: none;
  padding: 4px;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.city-form__button {
  box-sizing: border-box;
  margin: 0px;
  border: none;
  padding: 4px;
}
