<app-main [ipAlignHorizontal]="'center'">
  <app-section [ipLayout]="'row'" [ipAlignVertical]="'center'" [ipXs]="10" [ipSm]="9" [ipMd]="8" [ipLg]="7" [ipXl]="6">
    <button
      mat-raised-button
      [type]="'button'"
      [color]="'accent'"
      (click)="clickLogOut()">
      <mat-icon>exit_to_app</mat-icon>
      Log Out
    </button>

    <button
      mat-raised-button
      [type]="'button'"
      [color]="'primary'"
      (click)="clickAddCity()">
      <mat-icon>add_box</mat-icon>
      Add
    </button>
  </app-section>

  <app-section [ipLayout]="'column'" [ipAlignHorizontal]="'center'" [ipXs]="10" [ipSm]="9" [ipMd]="8" [ipLg]="7" [ipXl]="6">
    <app-table
      [ipSort]="sort"
      [ipColumns]="columns"
      [ipActions]="actions"
      (opSort)="matSortChange($event)"
      (opEdit)="clickEditCity($event)"
      (opDelete)="clickDeleteCity($event)"
      (opPaginate)="pageEvent($event)">
    </app-table>
  </app-section>
</app-main>
